{% extends 'registration/base.html' %}
{% load static %}

{% block title %} Login {% endblock %} 

{% block content %}

<div class="container mx-auto my-5">
    <h1>Iniciar sesión</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input type="text" class="form-control" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}