{% extends 'productos/base.html' %}
{% block title %} Zapatillas {% endblock %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-5">Zapatillas</h1>
    <div class="row">
        {% for zapatilla in zapatillas %}
        <div class="col-3 sm-1 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{% url 'detalle' zapatilla.id %}">
                        <img src="{{ zapatilla.imagen.url }}" class="card-img-top">
                    </a>
                    <h5>{{ zapatilla.nombre }}</h5>
                    <h6>${{ zapatilla.precio }}</h6>
                </div>
                <div class="card-footer">
                    <a href="{% url 'agregar' producto_id=zapatilla.id %}">
                    <button class="btn-success btn-block mx-auto"><i class="fas fa-shopping-cart"></i></button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}